.new-tweet{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  width: 100%;
}

#tweet-text{
  border: none;
  border-bottom: 3px solid black;
  background-color:transparent;
  outline: none;
  width: 100%;
}

.new-tweet div{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

main button {
  color: #FFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
}

.changeToRed {
  color: red;
}